body {
    background: #ccc;
    font-family: Arial, sans-serif;
}

.page {
    width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.form-table th {
    border: 1px solid #a50000;
    padding: 8px;
    background: #a50000;
    text-align: center;
    color: white;
}

.form-table td {
    border: 1px solid rgb(206, 1, 1);
    padding: 8px;
    height: 30px;
}

.footer {
    font-size: 12px;
    text-align: center;
}